body, h2{
    margin: 0;
    padding: 0;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
* {
    font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}
body{
    background-color: #F2F2F2;
}
.main{
    width: 500px;
    margin: 280px 0 0 450px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
}
.main .pic{
    margin: 29px 0 0 180px;
}
.main .text{
    margin-top: 36px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.main .login{
    margin: 32px 0 30px 30px;
    background-color: #2f80ed;
    border-radius: 5px;
    display: block;
    width: 440px;
    height: 60px;
    color: #fff;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
}